:root {
    --main: rgb(92, 63, 54);
    --dark-main: rgb(132, 112, 116);
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: max(1.5vw, 20px);
}

body > div {
    background-color: rgb(252, 252, 250);
    color: var(--dark-main);
    padding: 15px;
    min-height: 100vh;
}

h1 {
    font-family: cursive;
    margin-left: 15px;
}

#testimonials {
    display: flex;
    justify-content: center;
}

#quote-result {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(180, 92, 92);
}

#testimonials > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    min-height: 40vh;
    border: 1px solid white;
    background-color: var(--main);
    color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

form button {
    border-radius: 20px;
    border: none;
    background-color: var(--main);
    color: white;
    margin-top: 20px;
    font-size: max(1vw, 20px);
    padding: 5px;

}

form button:hover, form button:active {
    background-color: rgb(180, 92, 92);
} 

@media screen and (max-width: 580px) {
  #testimonials {
    flex-direction: column;
  }

  #testimonials > div {
    width: 80%;
    min-height: 200px;
  }
}